extends layout

block content
  h1=title

  ul
    - book_list.sort((a,b) => {let txtA = a.title.toUpperCase(); let txtB = b.title.toUpperCase(); return txtA<txtB?-1:txtA>txtB?1:0;});
    each book in book_list
      li
        a(href=book.url) #{book.title}
        |  (#{book.author.name})

    else
      li There are no books.
